*~
.venv
venv
env
!.gitkeep
tmp
.DS_Store
.idea
*.log
*.map
*.pyc
*.h5
*.png
*.pt
*.zip
*.csv
__pycache__/
data/
saved_models/
logs/
eval_results/
images/
!docs/images
tf_models/
wandb/
baselines/
babyai/
gym-minigrid/
procgen/
gym-minigrid/
rsync_exclude.txt
src/
figures/
tt/
cmds.txt
cmds/
videos/
*.npy
nle/
nle_data/
minihack/
CarRacing_2D/
bipedal_data/

